[flake8]

ignore = 
    # E203 (not PEP 8 compliant) ignored to not conflict with black
    E203,
    # W503 (not PEP 8 compliant) ignored to not conflict with black
    W503,
    # 'E704 multiple statements on one line' ignored to not conflict with black when function content defined as ...
    E704,
    # D105 Missing docstring in magic method. I have no issue with this.
    # D Let pylint pick up all the doc errors
    D

exclude =
    *.ipynb_checkpoints


per-file-ignores =
    # D103 Missing docstring in public function - not required for all tests
    # D102 Missing docstring in public function - not required for all tests
    # D401 First line should be in imperative moood - not useful to describe fixtures
    # E501 line too long - acceptable given nature of tests
    tests/*.py:D103,D102,D401,E501
    src/market_analy/utils/dict_utils.py:E501

#max-line-length extended in line with black default style
max-line-length = 100

docstring-convention=numpy
