# Workflow to upload a Python Package when a release is created
name: Publish to PyPI

on:
  release:
    types: [released]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install Python
        run: uv python install
      - name: Build
        run: uv build

      - name: Publish to Test PyPI
        run: uv publish --index testpypi
      - name: Check test install and import
        run: |
          sleep 5  # Wait for Test Pypi to publish
          # Include pypi index for deps not available from test pypi...
          uv run \
            --with market-analy \
            --refresh-package market-analy \
            --index https://test.pypi.org/simple \
            --index https://pypi.org/simple \
            --index-strategy unsafe-best-match \
            --no-project \
            --isolated \
            -- \
            python -c 'import market_analy; print(f"{market_analy.__version__=}")'

      - name: Publish to PyPI
        run: uv publish
      - name: Check install and import
        run: |
          sleep 5  # Wait for Pypi to publish
          uv run \
          --with market-analy \
          --refresh-package market-analy \
          --no-project \
          --isolated \
          -- \
          python -c 'import market_analy;print(f"{market_analy.__version__=}")'
